<p> Edit information </p>

<p> Movie Name: <%= Movieinfo.find(@info.movieno).moviename %> </p>
<br/>
<%= form_for @info, :html => {:class => "form-horizontal center"} do |f| %>

    <div class="form-group">
        <%= f.label :Comment, class: "col-md-5 control-label" %>
            <div class="col-md-3">
               <%= f.text_field :comment,  class: "form-control" %>   
            </div>   
     </div>

    <div class="form-group">
        <%= f.label :Rating, class: "col-md-5 control-label" %>
            <div class="col-md-3">
               <%= f.radio_button :rating, 1 %> 1 <%= f.radio_button :rating, 2 %> 2  <%= f.radio_button :rating, 3 %> 3 <%= f.radio_button :rating, 4 %> 4 <%= f.radio_button :rating, 5 %> 5 
            </div>   
     </div>

    <center> <%= f.submit class: "btn btn-success btn-sm" %> </center>           
<% end %>