<p> Edit information </p>

<p> Movie Name: <%= Movieinfo.find(@info.movieno).moviename %> </p>
<br/>
<%= form_for(@info) do |f| %>
    Comment <%= f.text_field :comment %> <br/>
    Rating <%= f.text_field :rating %> <br/>
    <%= f.submit %>            
<% end %>