<% content_for(:title, "Hello " + @name) %>

<p> Hello <%= @name %> </p>

<div class = "demo">
   You have : <%= 
   if @warning_count == nil 
       0
   else
       @warning_count 
    end
    %> warning count
   <%= link_to('Log out', '/log_out', class: "btn btn-danger") %>
</div>     

<br/>
<br/>
<marquee> Welcome to comment movie online. Your comments are highly appreciated </marquee>

<% if @info.length != 0 %> 
  <p> Your recent comments </p>
   <table class = "table table-striped" >
      <thead>
         <tr>
             <th scope="col" > Movie Name </td>
             <th scope="col" > Comment </td>
             <th scope="col" > Rating </td>
             <th scope="col" > Edit </td>
             <th scope="col" > Delete </td>
             <th scope="col" > Image </td>
             <th scope="col" > Video </td>
         </tr> 
      </thead>
   
      <tbody>
           <% @info.each do |val| %>
              <tr scope = "row" >
                 <td> <%= obj =  Movieinfo.find(val.movieno)
                          Movieinfo.find(val.movieno).moviename  
                       %> 
                 </td>
                 <td> <%= val.comment %> </td>
                 <td> <%= val.rating %> </td>
                 <td> <%= link_to('click me', {
                     "controller": "information",
                     "action": "edit",
                     "id": val.id
                 }) %>
                 <td>
                  <%= link_to('click me', {
                     "controller": "information",
                     "action": "destroy",
                     "id": val.id
                 }) %> 
                 </td>
                 <td>
                     <% if obj.image.attached? %>
                        <%= image_tag(obj.image, :size => '50x18', :crop => :fill)  %>
                     <% end %>   
                 </td>
                 <td>
                     <% if obj.clip.attached? %>
                        <%= video_tag(url_for(obj.clip), controls: true, width: 50, height: 18) if obj.clip.attached?  %>
                     <% end %>
                 </td>
              </tr>  
              <% end %> 
      </tbody>
   </table>
<% else %>
    <p> You don't have any comments </p>
<% end %>

<center> <%= link_to('Add your comments', new_information_path, class: "btn btn-primary btn-sm") %>  </center>