<% if flash[:errors]  %>
     <% flash[:errors].each do |e| %>
         <p> <%= e %> </p>
     <% end %>    
<% end %>



<%= form_for(@info) do |f| %> 
   <%= f.label :MovieNumber %>
   <%= select_tag "movieno", options_for_select(@new_arr.collect{|u| [u[1], u[0]]}) %> <br/>
   <%= f.label :Comment %>
   <%= f.text_field :comment %> <br/>
   <%= f.label :Rating %>  
   <%= f.radio_button :rating, 1 %> 1 <%= f.radio_button :rating, 2 %> 2  <%= f.radio_button :rating, 3 %> 3 <%= f.radio_button :rating, 4 %> 4 <%= f.radio_button :rating, 5 %> 5
   <br/> 
   <%= f.submit %>
<% end %>