<% if flash[:errors]  %>
     <% flash[:errors].each do |e| %>
         <p> <%= e %> </p>
     <% end %>    
<% end %>

<br/>

<%= form_for @info, :html => {:class => "form-horizontal center"} do |f| %> 
     <div class="form-group">
        <%= f.label :MovieNumber, class: "col-md-5 control-label" %>
            <div class="col-md-3">
               <%= select_tag "movieno", options_for_select(@new_arr.collect{|u| [u[1], u[0]]}),  class: "form-control" %> 
            </div>   
     </div>

     <div class="form-group">
        <%= f.label :Comment, class: "col-md-5 control-label" %>
            <div class="col-md-3">
               <%= f.text_field :comment, class: "form-control" %> 
            </div>
     </div>

     <div class="form-group">
        <%= f.label :Rating, class: "col-md-5 control-label" %>  
            <div class="col-md-3">
                <%= f.radio_button :rating, 1 %> 1 <%= f.radio_button :rating, 2 %> 2  <%= f.radio_button :rating, 3 %> 3 <%= f.radio_button :rating, 4 %> 4 <%= f.radio_button :rating, 5 %> 5
            </div>
     </div>
        <br/>
        <center>  <%= recaptcha_tags %> </center> <br/>
        <br/>
        <center> <%= f.submit class: "btn btn-success btn-sm" %> </center>
    
<% end %>