<% content_for(:title, "Hey Root") %>

<p> Hello Root (7 - RWX) </p>

<div class = "demo">
   <%= link_to("Add new MovieName", {
         "controller": "information",
         "action": "root",
         "show_form": true
   }, class: "btn btn-danger") unless params.has_key? "show_form"
   
    %>

   <%=link_to("Requests ( "+ @total.to_s+ " )", information_show_requests_path, class: "btn btn-danger" ) %>
   <%=link_to("Log out", "/log_out", class: "btn btn-danger") %> 
</div> 

<br/> <br/>



<% if params[:show_form] && params[:show_form] == "true" %>
   
   <%= form_for(@obj1, :html => {:class => "form-horizontal center"}, :url => {:controller => "information", :action => "addmovie"}) do |f|  %>

         <div class="form-group">
            <%= f.label :MovieName, class: "col-md-5 control-label" %>
               <div class="col-md-3">
                  <%= f.text_field :moviename,  class: "form-control" %>   
                </div>
            <%= f.label :image, class: "col-md-5 control-label" %>
               <div class="col-md-3">
                  <%= f.file_field :image,  class: "form-control" %>   
                </div>       
         </div>

      <center>  <%= f.submit class: "btn btn-success" %>  </center>
   <% end %>
<% end %>

<table class = "table table-striped" >
   <thead>
       <tr>
          <th scope="col" > Movie Name </td>
          <th scope="col" >  </td>
          <th scope="col" >  </td>
          <th scope="col" > Attachment </td>
       </tr>
   </thead>    

   <tbody>
      <% @movieinfo.each do |val| %>
         <tr scope = "row"> 
            
            <td> 
               <%= link_to(val.moviename + " Movie Review", {
                 "controller": "information",
                 "action": "movie_info",
                 "id": val.id
                }) %>
            </td>

            <td>
               <%= link_to("Delete", {
                 "controller": "information",
                 "action": "delete_movie",
                 "id": val.id
                }) %>
            </td>

            <td>
               <%= form_for(@mov_obj, :url => {:controller => "information", :action => "edit_movie", :id => val.id}) do |f| %> 
                  <%= f.text_field :moviename %>
                  <%= f.submit "Update Info" %>
               <% end %>
            </td>

            <td>
               <%= image_tag(val.image, :size => '50x18', :crop => :fill) if val.image.attached? %>
            </td>

         </tr>
      <% end %>
   </tbody>
</table>