<% content_for(:title, "Hey Root") %>

<table class = "table table-striped" >
    <thead>
        <tr scope="col" >
            <th> Email </th>
            <th> Comment </th>
            <th> Action - UnBan </th>
            <th> Status information </th>
            <th> User History </th>
        </tr>
    </thead>

    <tbody>
         <% @queries.each  do |f| %>
             
              <tr scope = "row" >
                  <td> <%= f.email %> </td>
                  <td> <%= f.comment %> </td>
                  <td> <%= 
                    if User.find_by(email: f.email) && User.find_by(email: f.email).ban == false
                       "User is healthy" 
                    elsif User.find_by(email: f.email) && User.find_by(email: f.email). ban == true  
                        link_to("UnBan", {
                            "controller": "information",
                            "action": "unban_user",
                            "email": f.email
                    })
                    else "Not Available"

                    end
                    %> </td>

                  <td> <%= if User.find_by(email: f.email) && User.find_by(email: f.email).ban == true
                               "This user has been banned"
                            elsif User.find_by(email: f.email)
                               "Available"
                            else
                               "Not Available"   
                            end 
                        %> </td>

                   <td> <%= link_to("History", {
                       "controller": "information",
                       "action": "history",
                       "email": f.email 
                   }) %> </td>     
              </tr>

         <% end %>
    </tbody>
</table>   