<html>

<script type="text/javascript">
//     (function(){
//         if( window.localStorage )
//          {
//           if( !localStorage.getItem('firstLoad') )
//            {
//                localStorage['firstLoad'] = true;
//                window.location.reload();
//             }  
//             else
//                localStorage.removeItem('firstLoad');
//          }
// })();
</script>

<body>
   
   
   <center> <%= image_submit_tag('logo.png') %> </center>

   <% if flash[:errors] %>
    <div class = "col-xs-10 col-xs-offset-1">
      <div class = "alert alert-danger">
        <a href = "#" class = "close" data-dismiss = "alert"> x </a>
            There was something wrong with the login information
      </div>
    </div>        
       <% flash[:errors].each do |e|  %>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <div class="panel panel-danger">
                   <div class="panel-heading">
                     <h2 class="panel-title">
                        <%= e %>
                      </h2>
                    </div>
              </div>
            </div>            
          </div>
       <% end %>
   <% end %>

  <br/>


<center> <%= link_to("SIGNUP", {"controller": "users", "action": "index", "id": 1}, class: "btn btn-success") %> <%= link_to("LOGIN", {"controller": "users", "action": "index", "id": 2}, class: "btn btn-success") %> </center>

<br/>

<% if params[:id] == "1" %>

   <%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
        
        <div class="form-group">
            <%= f.label :UserName, class: "col-md-5 control-label" %>
               <div class="col-md-3">
                  <%= f.text_field :name,  class: "form-control" %>   
                </div>   
         </div>

        <div class="form-group">
            <%= f.label :Email, class: "col-md-5 control-label" %>
               <div class="col-md-3">
                  <%= f.email_field :email,  class: "form-control" %>   
                </div>   
        </div>

        <div class="form-group">
            <%= f.label :Password, class: "col-md-5 control-label" %>
               <div class="col-md-3">
                  <%= f.password_field :password,  class: "form-control" %>   
                </div>   
         </div>
    
       <center> <%= f.submit   class: "btn btn-success btn-sm" %> </center>
   <% end %>

<% end %>

<% if params[:id] == "2" %>

    <%= form_tag sessions_path, class: "form-horizontal center" do %>
        
        <div class="form-group">
            <label for="UserName" class =  "col-md-5 control-label"  >User Name</label>
                <div class="col-md-3">  
                  <%= email_field_tag :email,  params[:email], class: 'form-control' %> 
                </div>   
        </div>

        <div class="form-group">
            <label for="Password" class =  "col-md-5 control-label"  >Password</label>
                <div class="col-md-3">  
                  <%= password_field_tag :password,  nil, class: 'form-control' %>
                </div>   
        </div>

       <center> <%= submit_tag "Sign In", class: "btn btn-success btn-sm" %> </center>
       
    <% end %>

<% end %>
<br/>
    <marquee behavior = "scroll" direction = "left" onmouseover = "this.stop();" onmouseout = "this.start();" > <%= link_to("Contact Root (7 - RWX)", {
        "controller": "contacts",
        "action": "new"
    }) %> </marquee>

  </body>

</html>