<% if flash[:errors]  %>
     <% flash[:errors].each do |e| %>
         <p> <%= e %> </p>
     <% end %>    
<% end %>

<%= form_for(@info) do |f| %> 
   <%= f.label :EmailID %>
   <%= f.text_field :email %> <br/>
   <%= f.label :Comment %>
   <%= f.text_field :comment %> <br/>
   <%= f.submit %>
<% end %>